.itemContainer{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1em;
}

.itemContainer img{
    width: 200px;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.itemsListContainer{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.pageContainer{
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.itemContent{
    width: 100;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.portionsContainer{
    display: flex;
    align-items: center;
    gap: .5em;
}

.portionsBotons{
    display: flex;
    gap: .2em;
}

.confirmBtn{
    position: fixed;
    font-size: x-large;
    bottom: 2em;
    
}