.popupContainer{
      background-color: #faf0ca;
  color: #004643;
}

.popupContainer img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.popupContent{
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.ingredients{
      color: #455a59;
}