*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Inter';
}

#root{
  font-size: x-large;
  background-color: #faf0ca;
  min-height: 100vh;
  color: #004643;
}

button{
    width: fit-content;
    background-color: #004643;
    color: #faf0ca;
    border: none;
    padding: 1em;
    border-radius: 0.5em;
    cursor: pointer;
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
}

main{
  max-width: 1280px;
  margin: 0 1em;
  min-height: 100vh;
}

